

<div class="well-sm">
  <label for="yearInput">Week</label>
  <input type="number" ng-model="currentWeek" id="weekInput" ng-change="setDate()" min="0" max="{{weeksInMonth - 1}}">
</div>
<div class="well-sm">
  <label for="monthInput">Month</label>
  <input type="number" ng-model="currentMonth" id="monthInput" ng-change="setDate()" min="0" max="11">
</div>
<div class="well-sm">
  <label for="yearInput">Year</label>
  <input type="number" ng-model="currentYear" id="yearInput" ng-change="setDate()" min="2000" max="2050">
</div>



<div class="well-sm">
  <label for="displayTypeMonth">Month</label>
  <input type="radio" value="month" ng-model="displayType" id="displayTypeMonth" ng-change="setDisplayType()">
  <label for="displayTypeWeek">Week</label>
  <input type="radio" value="week" ng-model="displayType" id="displayTypeWeek" ng-change="setDisplayType()">
  <label for="displayTypeAgenda">Agenda</label>
  <input type="radio" value="agenda" ng-model="displayType" id="displayTypeAgenda" ng-change="setDisplayType()">
</div>

<div ng-if="displayType == 'month'">
  <h1>Calendar View</h1>
  <div month days="daysInMonthView" evts="currentEvents"></div>
</div>

<div ng-if="displayType == 'week'">
  <h1>Week View</h1>
  <div daterange days="daysInMonthView"></div>
  <div month days="daysInView" evts="currentEvents"></div>
</div>

<div ng-if="displayType == 'agenda'">
  <h1>Agenda View</h1>
  <div agenda days="daysInView" evts="currentEvents"></div>
</div>
